.heading{
	overflow: hidden;
    background-color:DarkOrange  ;
	color: black;
 }
 
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float : right;
} 
 
.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: Cornsilk ;
  color: black;
}

.topnav a.active {
  background-color: DarkOrange ;
  color: white;
}

body {
	background: PeachPuff ;
}



/* .container {
	width: 950px;
	margin: 50px auto;
	background: gold;
	padding: 15px;
} */
.main {
	float: left;
	width: 40%;
	margin-top: 15px;
	background: LightYellow ;
	margin-left :150px;
	padding:10px;
}
.sidebar {
	background: LightYellow ;
	float: right;
	padding: 10px;
	margin-top: 15px;
	width: 30%;
	margin-right:100px;
}

.button
{
  width: 60px;
  text-align: center;
  background : DarkOrange;
}

.clr {
	clear: both;
}

input,textarea {
	width: 70%;
	padding: 5px;
	margin-bottom: 15px;
}

a {
	color: #fff;
	text-decoration: none;
}
.imagesl{
	 width:670px;
	 height:400px;
	 float:left;
}

.descriptionr{
     margin-left:750px;
	font-size:30px;
}

.imagesr{
	 width:670px;
	 height:400px;
	 float:right;
	 margin-right:20px;
}
.descriptionl{
     margin-right:700px;
	 margin-left:50px;
	 font-size:30px;
}

h1
{
	margin-left:20px;
}